@media (max-width : 1200px) {
    .navigation{
        flex-direction: column;
        margin-bottom: 8px;
    }
    .nav-left{
        flex-direction: column;
        text-align: center;
    }
    .contant-right{
        display: none;
    }
    .home-article{
        flex-direction: column;
    }
    .home-article-img {
text-align: center;
    }
    .year-box{
        top: 0;
        font-size: 10px;
        display: flex;
        left: 60vw;
        
    }
    .year-box div{
        margin: 0;
        padding: 0;
        
    }
    .home-article-img{
        width: 70vw;
    }
    .form-box input, textarea{
        width: 60vw;
    }
.row{
    flex-direction: column;
}
.post-img{
    height: auto;
}
 
    
}