@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&display=swap');

:root {
    --main-bg-color: rgba(49, 153, 212, 0.904);
    --font1: "Alfa Slab One", serif;
    --font2: "Roboto", sans-serif;
    --font3: "DM Serif Text", serif;
}

.font1 {
    font-family: var(--font1);
}

.font2 {
    font-family: var(--font2);
}

.font3 {
    font-family: var(--font3);
}



.max-width-1 {
    max-width: 80vw;
}

.max-width-2 {
    max-width: 60vw;
}

.m-auto {
    margin: auto;
}

.btn {
    padding: 8px 12px;
    border: 2px solid black;
    border-radius: 8px;
    font-family: var(--font2);
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    margin: 6px 0;

}

.btn:hover {
    color: rgb(230, 230, 230);
    background-color: var(--main-bg-color);
}

.form-input {
    padding: 8px 9px;
    font-size: 13px;
    border: 2px solid black;
    border-radius: 4px;
    font-family: var(--font2);
}
.my-2 {
    margin-top: 12px;
    margin-bottom: 12px;
}
.form-box input,
textarea {
    width: 45vw;
    padding: 5px 15px;
    margin: 8px;
    font-family: var(--font3);
    font-size: 15px;
    border-radius: 5px;
    border: 2px solid var(--main-bg-color);
}